# Data Transformation

This jupyter notebook contains open source code for transforming a data from the Australian Institute of Health and Welfare (AIHW). The data "State and territory community mental health care 2018-19" is originally from "Mental health services in Australia" collection [1] by the AIHW. This data cube includes service contacts, patient characteristics, legal status, session type and duration and state and territory breakdowns. The AIWH (https://www.aihw.gov.au) is health and welfare statistics agency in Australia, which provides a wide range of health and welfare information.

The data is available at (https://www.aihw.gov.au/reports/mental-health-services/mental-health-services-in-australia/data?page=1)

### Import library

In [1]:
import pandas as pd

In [2]:
input_file = 'Community-mental-health-care-tables-2018-19.xlsx'
output_file = 'generated_data/transformed_data.csv'

### Read data

In [4]:
df = pd.read_excel(input_file, sheet_name = 'Table CMHC.1', skiprows=4, header=0)
df = df.dropna(subset=['NSW7'], how='all') # drop rows where it contains meaningless values

In [10]:
df

,Count,Unnamed: 1,NSW7,Vic6,Qld,WA,SA,Tas,ACT,NT,Total
0,Number,Service contacts,3.169583e+06,2.323958e+06,2.025116e+06,966266.000000,708056.000000,112748.000000,317659.000000,82599.000000,9.705985e+06
1,Number,Patients,1.380060e+05,7.709300e+04,1.058810e+05,63668.000000,40948.000000,9353.000000,10903.000000,7201.000000,4.530530e+05
2,Number,Treatment daysa,2.286430e+06,1.256465e+06,1.461551e+06,720922.000000,512354.000000,89679.000000,174030.000000,65399.000000,6.566830e+06
3,Number,Average service contacts per patient,2.296699e+01,3.014486e+01,1.912634e+01,15.176635,17.291589,12.054742,29.135009,11.470490,2.142351e+01
4,Number,Average treatment days per patient,1.656761e+01,1.629804e+01,1.380371e+01,11.323145,12.512308,9.588260,15.961662,9.081933,1.449462e+01
6,"Rateb(per 1,000 population)",Service contacts,3.939293e+02,3.560850e+02,4.007887e+02,370.737026,406.288015,212.120129,749.529861,335.967688,3.854605e+02
7,"Rateb(per 1,000 population)",Patients,1.715198e+01,1.181246e+01,2.095480e+01,24.428144,23.496279,17.596406,25.726090,29.289741,1.799241e+01

As you can see in the above table, 'Table CMHC.1' contains the number of "Service contacts", "Patients", "Treatment days", "Average service contacts per paitent", and "Average treatment days per paitient" as well as Rate(per 1,000 population) of "Service contacts" and "Patients" in state and territory areas between 2018 and 2019.

### Extract and transform the data

Extract a row 6 where it includes Service contacts rate and then remove/rename data columns

In [7]:
extracted_df = pd.DataFrame(columns=['Count'])
for index, row in df.iterrows():
    if row['Count'] == 'Rateb(per 1,000 population)':
        if row['Unnamed: 1'] != 'Patients':
            extracted_df = extracted_df.append(row) 
extracted_df.drop(columns= ['Unnamed: 1'], inplace=True)
extracted_df.rename(columns={"NSW7": "NSW", "Qld": "QLD", "Tas": "TAS", "Vic6":"VIC"}, inplace=True) #rename columns

### Show the transformed data

In [9]:
extracted_df

,Count,ACT,NSW,NT,QLD,SA,TAS,Total,VIC,WA
6,"Rateb(per 1,000 population)",749.529861,393.929334,335.967688,400.788707,406.288015,212.120129,385.460477,356.085035,370.737026

#

## Conclusion

In this Jupyter notebook, we demonstrated how to transform a dataset by using python code. Mental health services in Australia, State and territory community mental health care 2018-19 data collection contains 33 tables related to mental health service contacts. Python code were used to extract and transform the tables from the data collection. The transformed data shows the service contacts rate across state and territory in Australia.

## References

[1] Australia, Australian Institute of Health and Welfare, *Mental health services in Australia, State and territory community mental health care 2018-19*,  Australian Institute of Health and Welfare, 2020. [Dataset] Available:https://www.aihw.gov.au/reports/mental-health-services/mental-health-services-in-australia/data. [Accessed: January 4, 2021].